html {
  height: 100vh;
  background-color: rgb(233, 233, 233);
}
body {
  min-height: 100vh;
}
html, body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
p{margin: 0;}
button{font-family: unset;}

.main-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: teal;
  /*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;*/
  
}
.container-header{
  
}
.softwares-container{
  left: 0;
  top: 0;
  position:fixed;
  background-color: green;
  width: 20vw;
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
}
.thumbnail-container{
  display: flex;
  flex-direction: column;
  margin: .2rem;
  text-align: center;
}

/* TOOLBARS*/
.toolbar-container{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5%;
  align-self: end;
  display: flex; 
  align-content: center;
  background-color: silver;
  border-top: rgb(228, 228, 228) 2px solid;
  justify-content: space-between;
}
.start-menu-button{
  font-size: 13pt;
  font-weight: 600;
}


.game-container{
  background-color: rgb(128, 0, 100);
}
.game-container img{
  text-align: center;
  width: 50%;
  height: auto;
}

.thumbnail-template{
  width: 50px;
  height: 50px;
  background-color: gray;
}