html {
  height: 100vh;
  background-color: rgb(233, 233, 233);
}
body {
  min-height: 100vh;
}
html, body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
p{margin: 0; font-size: 12pt;}
button{font-family: unset; font-size: 12pt;}
hr{margin: auto; margin-bottom: .1rem; margin-top: .1rem; padding: 0; width: 98%; text-align: center;}

.main-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: teal;
  /*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/meh.png"), auto;*/
}
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}


/* Thumbnail Related */
.thumbnail-template{
  width: 90px;
  height: 90px;
  background-color: gray;
}
.software-grid-container{
  left: 0;
  top: 0;
  position:fixed;
  width: 20vw;
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
}
.thumbnail-container{
  display: flex;
  flex-direction: column;
  margin: .4rem;
  text-align: center;
} .thumbnail-container p{
  font-size: 10pt;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Software Related */
#software-id {
  position: absolute;
  z-index: 9;
}
.software-container{
  position: absolute;
  width: auto;
  background-color: silver;
  border-top: #dcdcdcc9 2.4px solid;
  border-left: #b9b9b9c7 2.4px solid;
  border-bottom: #3c3c3c 2.4px solid;
  border-right: #3c3c3c 2.4px solid;
}
.software-container header{
  position: relative;
  background-color: rgb(110, 110, 110);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  background-color: #0909a3;
  padding: .4rem .2rem;
} 
.software-container header button{
  width: 30px;
  height: auto;
  border-top: #dcdcdc 2.4px solid;
  border-left: #929292 2.4px solid;
  border-bottom: #3c3c3c 2.4px solid;
  border-right: #3c3c3c 2.4px solid;
  background-color: silver;
}.software-container .toolbar {
  padding: .1rem .2rem;
}
.software-container .toolbar button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 10pt;
}
.software-container .software{
  margin: .15rem;
  border-top: #727272 2.4px solid;
  border-left: #727272 2.4px solid;
  border-bottom: #727272 2.4px solid;
  border-right: #727272 2.4px solid;
}

/* taskbar*/
.taskbar-container{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55px;
  align-self: end;
  display: flex; 
  align-items: center;
  background-color: silver;
  border-top: rgb(228, 228, 228) 2px solid;
  justify-content: space-between;
}
.start-menu-button{
  font-size: 13pt;
  font-weight: 600;
}

/* CLOTHING-GAME */
.game-container{
  background-color: rgb(128, 0, 100);
}
.game-container img{
  text-align: center;
  width: 50%;
  height: auto;
}

